@import "../fonts/Roboto/Roboto.css";

.root {
    -white: #E8E8E8;
    -black: #171717;
}

.loanding_title {
    -fx-font-family: 'Roboto Black';
    -fx-text-fill: -white;
    -fx-font-size: 64px;
}

.loanding_progress .bar {
    -fx-background-color: -black;
}

.loanding_progress .track {
    -fx-background-color: -white;
}

.background {
    -fx-background-color: -black;
}